.Dice_Button {
  width: 45%;
  float: left;
  height: 500px;
  border: 1px solid blue;
  text-align: center;
  display: inline-block;
}

.Roll_List {
  width: 45%;
  float: right;
  text-align: center;
  border: 1px solid blue;
  display: inline-block;

}